In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import bokeh
import seaborn as sb
from scipy.stats import kurtosis, skew

data = pd.read_csv('../Data/clean/finalclean3.0.csv', encoding = 'latin-1', low_memory = False)
data.dtypes

JAARTAL                    int64
STRAATNAAM                object
POSTCODE_VAN              object
POSTCODE_TOT              object
PRODUCTSOORT               int64
Aantal Aansluitingen       int64
%Leveringsrichting         int64
%Fysieke status            int64
%Soort aansluiting         int64
Soort aansluiting Naam    object
SJV                        int64
%SJV laag tarief           int64
%Slimme Meter              int64
dtype: object

In [4]:
data.isnull().sum()

JAARTAL                   0
STRAATNAAM                0
POSTCODE_VAN              0
POSTCODE_TOT              0
PRODUCTSOORT              0
Aantal Aansluitingen      0
%Leveringsrichting        0
%Fysieke status           0
%Soort aansluiting        0
Soort aansluiting Naam    0
SJV                       0
%SJV laag tarief          0
%Slimme Meter             0
dtype: int64

In [5]:
data.head()

,JAARTAL,STRAATNAAM,POSTCODE_VAN,POSTCODE_TOT,PRODUCTSOORT,Aantal Aansluitingen,%Leveringsrichting,%Fysieke status,%Soort aansluiting,Soort aansluiting Naam,SJV,%SJV laag tarief,%Slimme Meter
0,2018,De Ruyterkade Steigers,1011AA,1011AB,0,35,10,3,31,3x25,14403,4,2
1,2018,De Ruyterkade,1011AC,1011AC,0,39,10,5,28,3x80,18739,5,2
2,2018,De Ruyterkade,1011AC,1011AC,1,24,10,7,38,G6,6589,0,2
3,2018,Oosterdokskade,1011AD,1011AD,0,19,10,0,58,3x25,4026,5,0
4,2018,Oosterdokskade,1011AD,1011AE,1,11,10,0,82,G4,710,0,0

In [4]:
groups = data.groupby('JAARTAL')
groups = groups.apply(lambda x:x)
groups.index

RangeIndex(start=0, stop=160548, step=1)

In [139]:
from bokeh.core.properties import value
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure
from bokeh.transform import dodge

groups = data.groupby('JAARTAL')
groups = groups.apply(lambda x:x)
groups.index

dic_data = {'years': year_list,
             'elk' : sjv_list[0::2],
            'gas': sjv_list[1::2]}

source = ColumnDataSource(data=dic_data)

p = figure(x_range=year_list, y_range=(0, 4000), plot_height=500, title="Gemiddeld verbruik per jaar",
           toolbar_location=None, tools=["pan","zoom_in",'wheel_zoom','zoom_out'])

p.vbar(x=dodge('years', -0.125, range=p.x_range), top='elk', width=0.2, source=source,
       color="#c9d9d3", legend=value("elektriciteit"))

p.vbar(x=dodge('years',  0.125,  range=p.x_range), top='gas', width=0.2, source=source,
       color="#718dbf", legend=value("gas"))

p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.legend.location = "top_right"
p.legend.orientation = "horizontal"

show(p)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: 2015 [renderer: GlyphRenderer(id='607053ae-19e7-4b9d-9468-114306ffe00f', ...)]
ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: 2016 [renderer: GlyphRenderer(id='be1d7a21-6c84-4fcd-959f-28eaf9b3ce7a', ...)]