In [3]:
import pandas as pd

data = pd.read_csv('../Data/clean/CombinedRemoved.csv', encoding = 'latin-1', low_memory = False)
data.dtypes

Unnamed: 0                      int64
JAARTAL                         int64
MEETVERANTWOORDELIJKE          object
STRAATNAAM                     object
POSTCODE_VAN                   object
POSTCODE_TOT                   object
PRODUCTSOORT                   object
Aantal Aansluitingen            int64
%Leveringsrichting            float64
%Fysieke status               float64
%Defintieve aansl (NRM)         int64
%Soort aansluiting              int64
Soort aansluiting Naam         object
SJV                             int64
%SJV laag tarief              float64
%Slimme Meter                 float64
Gemiddeld aantal telwielen    float64
dtype: object

In [4]:
data.isnull().sum()

Unnamed: 0                        0
JAARTAL                           0
MEETVERANTWOORDELIJKE         53402
STRAATNAAM                        0
POSTCODE_VAN                      0
POSTCODE_TOT                      0
PRODUCTSOORT                      0
Aantal Aansluitingen              0
%Leveringsrichting                0
%Fysieke status                   0
%Defintieve aansl (NRM)           0
%Soort aansluiting                0
Soort aansluiting Naam            0
SJV                               0
%SJV laag tarief                  0
%Slimme Meter                     0
Gemiddeld aantal telwielen    34017
dtype: int64

In [5]:
data.head(20)

,Unnamed: 0,JAARTAL,MEETVERANTWOORDELIJKE,STRAATNAAM,POSTCODE_VAN,POSTCODE_TOT,PRODUCTSOORT,Aantal Aansluitingen,%Leveringsrichting,%Fysieke status,%Defintieve aansl (NRM),%Soort aansluiting,Soort aansluiting Naam,SJV,%SJV laag tarief,%Slimme Meter,Gemiddeld aantal telwielen
0,0,2018,Liander N.V.,De Ruyterkade Steigers,1011AA,1011AB,ELK,35,100.0,34.29,100,31,3x25,14403,40.00,22.86,1.3
1,1,2018,Liander N.V.,De Ruyterkade,1011AC,1011AC,ELK,39,100.0,56.41,100,28,3x80,18739,41.03,28.21,1.0
2,2,2018,Liander N.V.,De Ruyterkade,1011AC,1011AC,GAS,24,100.0,75.00,100,38,G6,6589,0.00,29.17,NaN
3,3,2018,Liander N.V.,Oosterdokskade,1011AD,1011AD,ELK,19,100.0,5.26,100,58,3x25,4026,47.37,0.00,1.5
4,4,2018,Liander N.V.,Oosterdokskade,1011AD,1011AE,GAS,11,100.0,9.09,100,82,G4,710,0.00,9.09,NaN
5,5,2018,Liander N.V.,Oosterdokskade AB,1011AE,1011AE,ELK,19,100.0,10.53,100,63,3x25,3184,31.58,5.26,1.0
6,6,2018,NaN,Prins Hendrikkade,1011AG,1011AG,ELK,14,100.0,92.86,100,29,1x35,20376,50.00,35.71,1.6
7,7,2018,NaN,Prins Hendrikkade,1011AG,1011AH,GAS,27,100.0,100.00,100,96,G4,2756,0.00,22.22,NaN
8,8,2018,NaN,Prins Hendrikkade,1011AH,1011AH,ELK,21,100.0,100.00,100,67,1x25,4170,14.29,4.76,1.1
9,9,2018,Liander N.V.,Prins Hendrikkade,1011AJ,1011AJ,ELK,21,100.0,90.48,100,48,1x35,8036,38.10,38.10,1.1
10,10,2018,Liander N.V.,Prins Hendrikkade,1011AJ,1011AJ,GAS,16,100.0,93.75,100,69,G4,1600,0.00,43.75,NaN
11,11,2018,NaN,Prins Hendrikkade,1011AK,1011AK,ELK,13,100.0,53.85,100,46,3x25,9676,30.77,0.00,1.0
12,12,2018,Liander N.V.,Houtkopersdwarsstraat,1011AL,1011AM,ELK,16,100.0,81.25,100,44,3x25,12731,68.75,56.25,2.0
13,13,2018,Liander N.V.,Prins Hendrikkade,1011AM,1011AN,GAS,29,100.0,93.10,100,83,G4,2171,0.00,58.62,NaN
14,14,2018,NaN,Prins Hendrikkade,1011AN,1011AN,ELK,29,100.0,79.31,100,38,1x35,2547,48.28,41.38,1.3
15,15,2018,Liander N.V.,Prins Hendrikkade,1011AP,1011AP,ELK,20,100.0,70.00,100,50,1x35,6169,55.00,45.00,1.0
16,16,2018,NaN,Prins Hendrikkade,1011AP,1011AP,GAS,19,100.0,73.68,100,89,G4,3190,0.00,47.37,NaN
17,17,2018,Liander N.V.,Prins Hendrikkade,1011AR,1011AR,ELK,32,100.0,90.63,100,44,1x35,7541,25.00,15.63,1.3
18,18,2018,NaN,Prins Hendrikkade,1011AR,1011AR,GAS,19,100.0,100.00,100,63,G4,2149,0.00,26.32,NaN
19,19,2018,NaN,Prins Hendrikkade,1011AS,1011AS,ELK,11,100.0,63.64,100,45,3x25,5247,54.55,18.18,1.4